.container-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  overflow-x: hidden;
  margin-right: 0;

}

.box-head {
  width: 300px;
  height: 70px;
  /* background-color: #FFFAFA;
  border: 1px solid #000000; */
  border-radius: 100px;
  text-align: center;
  position: relative;
  font-weight: 700;

}

body {
  background-color: #FBF6F0;

}

.size-head {
  font-size: 150%;
  font-family: 'IBM Plex Sans Thai', sans-serif;
}

/* Header end */

.container-ResPhoto {
  position: absolute;
  left: 22%;
  margin-top: 5%;
  margin-right: 1%;
  box-shadow: rgba(255, 129, 255, 0.2) 0px 8px 24px;
}

/* Image end */

.container-Name {
  position: absolute;
  left: 40%;
  margin-top: 5%;

}

.container-textbox {
  position: absolute;
  left: 40%;
  margin-top: 10%;


}

.form-control {
  border-radius: 30px;
  padding-left: 100%;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(241, 149, 178, 0.25);
}

textarea.form-control {

  height: 90%;
  width: 30%;
  margin-left: 52%;
  margin-top: 2%;
}

/* input.form-control {
  top: -20%;
  margin-left: 52%;
  margin-top: 3%;
  height: 90%;
  width: 30%;
} */

.p-4 {
  padding: 1.5rem !important;

}

.position-text {
  position: absolute;
  margin-top: 4.5%;
  margin-left: 60%;
}

/* textarea {
  writing-mode: horizontal-tb !important;

  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  background-color: field;
  column-count: initial !important;
  margin: 0em;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
} */

.form-control {
  display: block;
  width: 100%;
  /* height: calc(1.5em + 0.75rem + 2px); */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 20px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  left: 50%;
}



/*  button */
.position-btn {
  position: absolute;
  margin-left: 78%;
  margin-top: 30%;
}

.position-btn2 {
  position: absolute;
  margin-left: 22%;
  margin-top: 5%;
}

.position-btn3 {
  position: absolute;
  margin-left: 74%;
  margin-top: 2%;
}

.container-button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-top: 20%;
  outline: none;
  padding: 10px 16px;
  position: flex;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container-button:hover,
.container-button:focus {
  background-color: #F082AC;
}